.delete-item-button {
    background-color: #dc3545; /* Bootstrap danger color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .delete-item-button:hover {
    background-color: #c82333; /* Darker shade for hover effect */
  }

  