.wardrobe-view {
  position: relative;
}

.wardrobe-container {
  display: flex;
  gap: 20px;
}

.wardrobe-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

/* if the screen size is very small, each item should take up the width of the screen */
@media (max-width: 400px) {
  .wardrobe-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.wardrobe-item {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.wardrobe-item-image {
  width: 75%;
  height: auto;
  max-height: 200px;
  border-radius: 8px;
  object-fit: contain;
}

.wardrobe-item p,
.wardrobe-item strong {
  margin: 0;
  padding: 0;
}

.wardrobe-favorite-btn {
  position: absolute;
  top: 15px;
  left: 15px;
}

.non-favorite-icon {
  color: #bac6d2;
}

.wardrobe-update-item-btn {
  position: absolute;
  top: 15px;
  left: 48%;
  color: #3f648a;
}

.wardrobe-delete-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #3f648a;
}

.wardrobe-add-item-btn {
  position: absolute;
  right: 15px;
  font-size: 35px;
  color: #3f648a;
}

.wardrobe-filter-bar {
  background-color: #f1f6fc;
  padding: 1em;
  border-radius: 5px;
  max-height: fit-content;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.1);
}

.wardrobe-apply-filters-button {
  background-color: white;
  color: black;
  border: none;
  margin-top: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
}

.wardrobe-apply-filters-button:hover {
  background-color: #d3e8fe;
}

.search-div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
}

#wardrobe-search {
  flex: 1;
}

/* Changes for narrower screens */
@media (max-width: 870px) {
  .wardrobe-container {
      flex-direction: column;
  }
}
