.columns-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.column {
    flex: 1;
    margin: 10px;
    max-width: 50%; 
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

canvas {
    width: 100%;  
    height: auto;  
}