.columns-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.column {
    flex: 1;
    margin: 10px;
    max-width: 50%; 
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chart-container {
    position: relative;
    width: 100%;
}

canvas {
    width: 100%;  
    height: auto;  
}

@media (max-width: 1000px) {
    .columns-container {
      flex-direction: column;  
    }
  
    .column {
      max-width: 100%;  
    }
}